body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#dropArea {
    width: 100%;
    max-width: 600px;
    height: 200px;
    border: 2px dashed #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #1e1e1e;
    border-radius: 10px;
    transition: background-color 0.3s;
}

#dropArea:hover {
    background-color: #333333;
}

#dropArea:active {
    background-color: #555555;
}


#keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 600px;
    margin: 20px auto;
}

.key {
    border: 1px solid #000;
    padding: 20px;
    margin: 2px;
    cursor: pointer;
    user-select: none;
}

.white-key {
    background-color: white;
    width: 80vw;
    height: 7vh;
    z-index: 1;
}

.black-key {
    background-color: black;
    width: 60%;
    height: 7%;
    margin-top: -15px;
    margin-bottom: -15px;
    margin-right: 20vw;
    z-index: 2;
    position: relative;
    left: 0;
}